.main-landing-img {
  width: 120%;
  margin-left: -150px;
  margin-top: 80px;
}

.row-jobs {
  margin: 0 auto;
  width: 80%;
}
.column-jobs {
  margin: 0px auto;
  padding-bottom: 70px;
}

.column-jobs h3 {
  color: #233771;
}

.row-jobs-filter {
  margin: 0 auto;
  width: 80%;
}
.column-jobs-filter {
  margin: 0px auto;
  padding-bottom: 70px;
}

.column-jobs-filter h3 {
  color: #233771;
}

.filter {
  display: flex;
  padding-bottom: 10px;
}

.filter p {
  color: #a9a6a6;
  padding-right: 50px;
}
.filter,
p :hover {
  cursor: pointer;
}

hr {
  width: 100%;
  height: 0.5px;
  color: #a9a6a6;
  visibility: visible;
}

.column-job-ads {
  margin: 0px auto;
  display: flex;
}

.box {
  /* display: flex;
  justify-content: flex-start;
  align-items: center; */
  display: grid;
  grid-template-columns: 30% 5% 40% 25%;
  grid-template-rows: 1fr;
  grid-template-areas: "logo line inner button";
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 30px;
  -webkit-box-shadow: 0px 3px 8px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 8px 4px rgba(146, 161, 176, 0.15);
  margin-bottom: 50px;
  padding-left: 20px;
}

img-logo-job {
  grid-area: logo;
}

vertical-big {
  grid-area: line;
}

column-inner {
  grid-area: inner;
}

apply-button {
  grid-area: button;
}

.img-logo-job img {
  padding-right: 50px;
  object-fit: cover;
  width: 80%;
  max-height: 100%;
}

.vertical-big {
  border-left: 0.5px solid #a9a6a6;
  height: 70%;
  /* visibility: visible; */
}

.column-jobs hr {
  visibility: visible;
}

section hr {
  visibility: hidden;
}

.vertical-small {
  border-left: 0.5px solid #a9a6a6;
  height: 50px;
}

.column-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* padding-left: 100px; */
}

.inner-lower {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.inner-lower > div {
  padding-right: 30px;
}

.job-title {
  color: #233771;
}

.bold {
  color: #233771 !important;
  font-weight: bold;
}

.apply-button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 150px; */
}

.button-apply-now {
  margin-top: 15px;
  padding: 15px;
  line-height: 10px;
  width: 160px;
  height: 40px;
  border: 1px solid #fff;
  background: #fff;
  color: #233771;
  border-radius: 30px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 8px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 8px 4px rgba(146, 161, 176, 0.15);
  object-fit: cover;
}

.button-apply-now:hover {
  background: #233771;
  color: #fff;
  border: 1px solid #233771;
}

@media only screen and (max-width: 800px) {
  .main-description {
    display: none;
  }
  /* .main-landing-img {
    margin: 0;
    height: auto;
    width: 100%;
  } */

  .row-jobs-filter {
    margin-top: 100px;
  }
  .column-jobs-filter {
    padding-bottom: 0;
  }

  .box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "logo"
      "inner"
      "button";
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0 0 rgba(146, 161, 176, 0.15);
    margin-bottom: 10px;
  }

  .vertical-big {
    display: none;
  }

  .job-title {
    padding-bottom: 30px;
  }

  .img-logo-job {
    display: flex;
    justify-self: center;
    /* height: auto;
    width: 80vw !important; */
  }

  .img-logo-job img {
    padding-right: 0;
  }

  .button-apply-now {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.26);
    background: #233771;
    color: #fff;
    border: 1px solid #233771;
  }

  .button-apply-now:hover {
    background: #fff;
    color: #233771;
    border: 1px solid #fff;
  }

  .filter p {
    padding-right: 25px;
  }

  .inner-lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 10px;
  }

  .vertical-small {
    display: none;
  }

  .filt {
    width: 100%;
  }

  .filt p {
    text-align: left;
  }

  hr {
    width: 90%;
  }

  .column-jobs {
    padding-bottom: 0;
  }

  section hr {
    visibility: visible;
  }
}
