@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* HEADINGS */

/* Page content */
.content {
  padding: 16px;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: #fff;
  box-shadow: 0 8px 4px rgba(146, 161, 176, 0.15);
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
}

/* .nav-wrapper {
  width: 100%;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  height: 5rem;
  background-color: #fff;
  box-shadow: 0 8px 4px rgba(146, 161, 176, 0.15);
}
*/

/* NAVIGATION */

.navbar {
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 9fr;
  align-items: center;
  height: 70px;
  overflow: hidden;
}

.navbar img {
  display: block;
  max-width: 22vh;
  width: 100%;
  margin: 0 auto;
  margin-left: 80px;
  cursor: pointer;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-self: end;
  margin-top: 1rem;
}

.nav-item a {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;

  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color: #233771;
}

.partner-button {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 30px;
  border: 1px solid #233771;
  background: #233771;
  color: #fff;
  border-radius: 30px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}

.partner-button:hover {
  background: white;
  color: #233771;
  border: 1px solid #233771;
}

/* LANG MENU */

a.gflag {
  font-size: 2px;
  padding: 0px;
  background-repeat: no-repeat;
}

a.gflag img {
  border: 0;
}
.english a title {
  list-style: none;
}

#goog-gt-tt {
  display: none !important;
}

.goog-te-banner-frame {
  display: none !important;
}

.goog-te-menu-value:hover {
  text-decoration: none !important;
}

#google_translate_element2 {
  display: none !important;
}

/* SECTIONS */

/* MAIN LANDING PAGE */
.row {
  margin: 50px auto;
  padding-top: 100px;
  display: flex;
  width: 80%;
}

.column {
  flex: 50%;
  margin: 0 auto;
}

.main-landing-img {
  width: 120%;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  color: #233771;
}

.main-p {
  padding-top: 20px;
  padding-bottom: 20px;
}

.partner-button-main {
  display: block;
  width: 250px;
  height: 30px;
  border: 1px solid #233771;
  background: #233771;
  color: #fff;
  border-radius: 30px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}

.partner-button-main:hover {
  background: white;
  color: #233771;
  border: 1px solid #233771;
}

.companies-headline {
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

.companies-trust {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: flex-start;
  padding: 70px 0;
  justify-content: space-evenly;
}

.companies-logos {
  display: flex;
  margin: 0 auto;
  padding-left: 75px;
}

.companies-img {
  cursor: pointer;
  opacity: 0.5;
}

.companies-img:hover {
  opacity: 100%;
}

.main-performer h1 {
  text-align: center;
  margin: 0 auto;
  padding-top: 120px;
}
.four-main-performer {
  display: grid;
  margin: 0 auto;
  width: 85%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: flex-start;
  padding: 100px 0px 80px 30px;
  justify-content: space-between;
  column-gap: 60px;
}

.four-main-performer ul {
  list-style: none;
}

.title {
  padding-bottom: 20px;
  color: #233771;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.data-driven {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comparison-model {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transparency {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specialized {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pillars-one h1 {
  text-align: center;
  padding-top: 100px;
}

.column h2 {
  padding-top: 20px;
}

.heard-clients h1 {
  text-align: center;
  padding-top: 100px;
}
hr {
  visibility: hidden;
}
/* CAROUSEL */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  padding-top: 50px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  background: white;
  max-width: 1024px;
  height: 400px;
  margin: 0 auto;
  box-shadow: 8px 8px 8px 8px rgba(146, 161, 176, 0.15);
}

.mySlides img {
  display: block;
  margin: auto;
  padding-top: 50px;
  border-radius: 20%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #233771;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.name-ceo {
  color: black;
}
.text {
  color: #bababa;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #233771;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* CONTACT FORM */

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 1rem;
  width: calc(100% - 2rem);
  margin: 0 auto;
}

.section-title {
  position: relative;
  font-size: 30px;
  color: #233771;
  margin-top: 100px;
  margin-bottom: 1rem;
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contact__input {
  width: 100%;
  font-size: normal;
  font-weight: bold;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid #454451;
  outline: none;
  margin-bottom: 1rem;
}
.contact__button {
  display: block;
  width: 100px;
  height: 30px;
  border: 1px solid #233771;
  background: #233771;
  color: #fff;
  border-radius: 30px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
  margin-bottom: 30px;
}

.contact__button:hover {
  background: white;
  color: #233771;
  border: 1px solid #233771;
}

@media screen and (min-width: 768px) {
  .section-title {
    margin-bottom: 100px;
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .contact__form {
    width: 360px;
  }
  .contact__container {
    justify-items: center;
  }
}

/* FOOTER */

.form-wrapper {
  margin: 0 auto;
  display: block;
  align-items: center;
  padding-top: 100px;
}

.form-wrapper h1 {
  margin: 0 auto;
  text-align: center;
}

/* FOOTER */
.footer-wrapper {
  height: 500px;
  padding-top: 100px;
  background-color: #fbfbfd;
  color: #000;
  box-shadow: rgba(37, 39, 89, 0.08) 0px -8px 8px 0;
}
.footer-wrapper a {
  color: #000;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: flex-start;
  padding: 70px 0;
  justify-content: space-evenly;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo p {
  max-width: 200px;
}

.logo-footer {
  margin-top: 20px;
}

.yTalent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.yTalent p {
  color: #454451;
  font-size: 18px;
  margin-left: -50px;
}

.yTalent ul {
  list-style: none;
}

.yTalent ul a {
  text-decoration: none;
}

.legal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.legal p {
  color: #454451;
  font-size: 18px;
  margin-left: -110px;
}

.legal ul {
  list-style: none;
}

.legal ul a {
  text-decoration: none;
}

.follow-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.follow {
  margin-left: -30px;
  height: 100px;
  width: 150px;
}
.follow p {
  color: #454451;
  font-size: 18px;
}

.follow i {
  color: #233771;
  height: fit-content;
}

.info p {
  margin-left: -65px;
}
/* SEARCH FUNCTION */

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) {
  .features {
    flex-direction: column;
    padding: 50px;
  }

  /* MOBILE HEADINGS */

  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  /* MOBILE NAVIGATION */

  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }

  .navbar li {
    padding: 15px;
  }

  .navbar li:first-child {
    margin-top: 50px;
  }

  .navbar li a {
    font-size: 1rem;
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    transform: translate(0%) !important;
  }

  .english {
    margin: 0 36%;
  }
  .dansk {
    margin: 0 45.5%;
  }

  /* MAIN HERO MOBILE */
  .main-description {
    height: auto;
  }
  .column h1 {
    margin-top: 20px;
  }
  .row {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-landing-img {
    margin-top: 100px;
    margin-bottom: 70px;
  }
  .partner-button-main {
    margin-top: 30px;
    align-self: flex-start;
  }

  /* SECTION COMPANIES MOBILE */
  .companies-headline {
    padding-top: 50px;
  }
  .companies-trust {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .companies-trust div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .companies-logos {
    padding: 0;
  }
  .companies-img {
    cursor: pointer;
    opacity: 0.5;
  }

  .companies-img:hover {
    opacity: 100%;
  }

  /* SECTION MAIN PERFORMER MOBILE */
  .four-main-performer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .main-performer h1 {
    padding-top: 50px;
  }
  .data-driven,
  .comparison-model,
  .transparency,
  .specialized {
    margin-bottom: 30px;
  }
  .data-driven ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .comparison-model ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .transparency ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .specialized ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* SECTION PILLARS MOBILE */
  .pillars-one {
    margin: 70px 0;
  }
  .pillars-one h1 {
    padding-top: 50px;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .column img {
    height: auto;
    /* padding-top: 30px; */
    align-self: center;
  }
  .img-pillars-one {
    height: 300px;
    width: 300px;
    margin-left: -20px;
  }
  .img-pillars-one[src*="img/Homepage/Home-2.png"] {
    display: none;
  }
  .img-pillars-one[src*="img/Homepage/Home-3.png"] {
    display: none;
  }
  .partner-button-main {
    margin: 0;
    align-self: center;
  }
  hr {
    width: 90%;
    margin-left: 20px;
    visibility: visible;
    opacity: 0.5;
  }

  /* FOOTER MOBILE */
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fbfbfd;
    align-items: center;
    justify-content: center;
  }
  .footer {
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "logo"
      "yTalent"
      "legal"
      "follow-contact";
  }
  .logo p {
    display: none;
  }
  .logo {
    grid-area: logo;
  }
  .yTalent {
    grid-area: yTalent;
    margin-left: 20px;
  }
  .legal {
    grid-area: legal;
    margin-left: 60px;
  }
  .follow-contact {
    grid-area: follow-contact;
    margin-left: 50px;
  }
  .info {
    margin-left: 10px;
  }
  .follow a {
    color: #233771;
  }
  .follow {
    margin-left: 0;
  }
  .copyright {
    margin: 30px 0;
  }

  /* SEARCH DISABLED ON MOBILE */
}
