@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* HEADINGS */

/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  height: 5rem;
  background-color: #fff;
  box-shadow: 0 8px 4px rgba(146, 161, 176, 0.15);
}

/* NAVIGATION */

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 70px;
  overflow: hidden;
}

.navbar img {
  display: block;
  max-width: 25vh;
  width: 100%;
  margin: 0 auto;

  margin-left: 40px;
  cursor: pointer;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(8, 3fr);
  justify-self: end;
  margin-top: 1rem;
}

.nav-item a {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color: #233771;
}

.partner-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 30px;
  border: 1px solid #233771;
  background: #233771;
  color: #fff;
  border-radius: 30px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}

.partner-button:hover {
  background: white;
  color: #233771;
  border: 1px solid #233771;
}

/* SECTIONS */

/* FOOTER */
.footer-wrapper {
  height: 500px;
  background-color: #fbfbfd;
  color: #000;
}
.footer-wrapper a {
  color: #000;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: flex-start;
  padding: 70px 0;
  justify-content: space-evenly;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo p {
  max-width: 200px;
}

.logo-footer {
  margin-top: 20px;
}

.yTalent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.yTalent p {
  color: #454451;
  font-size: 18px;
  margin-left: -50px;
}

.yTalent ul {
  list-style: none;
}

.yTalent ul a {
  text-decoration: none;
}

.legal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.legal p {
  color: #454451;
  font-size: 18px;
  margin-left: -110px;
}

.legal ul {
  list-style: none;
}

.legal ul a {
  text-decoration: none;
}

.follow-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.follow {
  margin-left: -90px;
}
.follow p {
  color: #454451;
  font-size: 18px;
}

.info p {
  margin-left: -65px;
}
/* SEARCH FUNCTION */

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) {
  .features {
    flex-direction: column;
    padding: 50px;
  }

  /* MOBILE HEADINGS */

  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  /* MOBILE NAVIGATION */

  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }

  .navbar li {
    padding: 15px;
  }

  .navbar li:first-child {
    margin-top: 50px;
  }

  .navbar li a {
    font-size: 1rem;
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    transform: translate(0%) !important;
  }

  /* FOOTER MOBILE */
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fbfbfd;
    align-items: center;
    justify-content: center;
  }
  .footer {
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "logo"
    "yTalent"
    "legal"
    "follow-contact";
  }
  .logo p {
    display: none;
  }

  .logo {
    grid-area: logo;
  }

   .yTalent {
    grid-area: yTalent;
    margin-left: 20px;
  }

  .legal {
    grid-area: legal;
    margin-left: 60px;
  }

  .follow-contact {
    grid-area: follow-contact;
    margin-left: 45px;
  }

  .info {
    margin-left: 10px;
  }

  .follow a{
    color:#233771;
  }

  .follow {
    margin-left: -60px;
  }

  .copyright {
    margin: 30px 0;
  }

  /* SECTIONS */

  /* SEARCH DISABLED ON MOBILE */
}
